$body_bg_color: #f2f2f2;
$body_text_color: #666;
$body_font_family: system-ui, sans-serif;
$body_text_shadow: #fff;
$body_link_text_color: #000;

$top_nav_logo_font_family: monospace, system-ui, sans-serif;
$top_nav_bg_color: #666;
$top_nav_text_color: #f2f2f2;
$top_nav_link_text_color: #fff;
$top_nav_text_shadow: #000;
$top_nav_active_shadow: #000;

$main_footer_bg_color: #666;
$main_footer_text_color: #f2f2f2;
$main_footer_link_text_color: #fff;
$main_footer_text_shadow: #000;


// general styles

:root {
}

body {
background-color: $main_footer_bg_color;
color: $body_text_color;
font-family: $body_font_family;
text-shadow: 0 0 .1em $body_text_shadow;
margin: 0;
margin-top: 4rem;
-ms-user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
}

a {
text-decoration: none;
color: $body_link_text_color;
}

.vertical-rl {
writing-mode: vertical-rl;
}

// specific elements
#top-nav {
position: fixed;
inset-block-start: 0;
inset-inline-start: 0;
inline-size: 100%;
margin: 0;
font-size: 1.5rem;
font-weight: bold;
text-decoration: none !important;
writing-mode: horizontal-tb;
background-color: $top_nav_bg_color;
color: $top_nav_text_color;
text-shadow: 0 0 .1em $top_nav_text_shadow;
}

#top-nav a {
color: $top_nav_link_text_color;
}

#top-nav > ul {
display: flex;
flex-direction: row;
list-style: none;
margin: 0;
padding: 0;
block-size: 4rem;
overflow: auto;
}

#top-nav > ul > li {
flex-grow: 1;
align-self: stretch;
text-align: center;
flex-shrink: 1;
}

#top-nav > ul > li:first-child {
text-align: start;
flex-shrink: 0;
flex-grow: 2;
font-family: $top_nav_logo_font_family;
}

#top-nav > ul > li:hover, #top-nav > ul > li:active {
box-shadow: inset 0 0 .5rem $top_nav_active_shadow;
}

#top-nav > ul > li > a {
display: block;
padding: 1rem;
block-size: 100%;
box-sizing: border-box;
}

#top-site-logo > a > :nth-child(1) {
color: #a4ce93;
}

#top-site-logo > a > :nth-child(2) {
color: #ffcea1;
}

#main-article {
background-color: $body_bg_color;
padding-block: 1rem;
padding-inline: 2rem;
margin-inline: auto;
max-inline-size: 32em;
// flex-grow: 1;
overflow: auto;
}

#main-footer {
margin: 0;
padding: 0;
background-color: $main_footer_bg_color;
color: $main_footer_text_color;
text-shadow: 0 0 .1em $main_footer_text_shadow;
}

#main-footer a {
color: $main_footer_link_text_color;
}

#main-footer > p {
margin: 0;
padding: 1rem 2rem;
}

